<!DOCTYPE HTML>
<html lang="en">
<head>
    <link rel="stylesheet preconnect prefetch" href="https://FlightCSS.foxglovedev.repl.co/host/flightcss/beta.css"/>
    <link rel="stylesheet preconnect prefetch" href="/css/theme.css"/>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
	<nav class="nav">
    	<a href="/">
			<img class="brand" rel="preconnect prefetch" src="" style="padding: 5px;"></img>
		</a>
      	<div class="nav-item">
        	<a href="download">Download</a>
      	</div>
			
    	<div style="position: absolute; right: 20px; display: inline-block;">
			<% if(locals.username) { %>
				<div class="nav-item" style="margin-left: 10px;">
					<a href="#" id="displayname"><%= username %></a>
				</div>
			<% } else { %>
				<div class="nav-item glow" id="login" style="cursor: pointer; margin-left: 10px;">
					<script authed="window.location= '/dashboard'" src="js/auth.js" async></script> <!-- window.location = '/dashboard' -->
				</div>
			<% } %>
        </div>
    </nav>
    <div class="main">
    	<div class="intro">
        	<h1 class="glow">Nomad</h1>
        	<p class="glow">An easy to use, advert-free privacy respecting email service.</p>

        	<button onclick="join()" class="button-primary glow" style="cursor: pointer; width: 100px;">Join Us!</button>
			<br/>
      	</div>
    </div>
    <div style="height: 10vh;"></div>
    <svg xmlns="http://www.w3.org/2000/svg" style=" width: 100%;" viewBox="0 0 1440 320"><path fill="#222" fill-opacity="1" d="M0,128L80,149.3C160,171,320,213,480,213.3C640,213,800,171,960,160C1120,149,1280,171,1360,181.3L1440,192L1440,320L1360,320C1280,320,1120,320,960,320C800,320,640,320,480,320C320,320,160,320,80,320L0,320Z"></path></svg>
    <div style="background-color: #222; position: relative; top: -20px; width: calc(100%)">
      	<div id="" style="padding-left: 5em; padding-right: 5em; padding-bottom: 3em; background-color: #222;">
        	<p><a href="/logout">Some text goes here</a></p>
      	</div>
    </div>
    <div style="padding-top: 0px; padding-left: 5em; padding-right: 5em; padding-bottom: 1em;">
  		<p><font size="2">The server was built with the help of the Foxglove development team in which are directly associated with the Poly OpenDev organization - meaning that any use of this service that is (and not limited to) violation of our policy is strictly prohibited and you may be profile banned or thereby reported.</font></p>
    </div>
    <script src="js/main.js"></script>
</body>
</html>

<!--
	var req = new XMLHttpRequest();
      req.open('GET', document.location, false);
      req.send(null);
      var header = req.getResponseHeader("x-username");

      document.getElementById("displayname").innerHTML = header;
      if(header != null){
        document.getElementById("login").style.display = "none";
      }
<style>
 
 ::-webkit-scrollbar {
background: rgba(0, 0, 0, 0); !important
width: 8px;!important
border-radius: 4px; !important
}
::-webkit-scrollbar-track {
background: rgba(0, 0, 0, 0); !important
padding:2px;
border-radius: 4px; !important
}
/* Handle */
::-webkit-scrollbar-thumb {
background: rgba(255, 25, 121, 1); !important
	border-radius: 10px; !important
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #DD2B75;
  border-radius: 4px; !important
}

  
  </style>
-->