/* theme config for flightcss */

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
  --primary: rgb(97,33,255) ;
  --secondary: #222;
  --page-color: #171717;
  --font: 'Montserrat', sans-serif;
  --primary-text-color: #fff;
  --main-text-color: #ddd;
}

/* end config */

nav{
  background-color: #171717 !important;
}

.glow
{
  animation: introduction 1s normal forwards;
  text-shadow: 0px 0px 9px rgba(240, 240, 240, 0.7);
}

@keyframes introduction {
  0% {opacity: 0; transform: translateY(10px);}
  100% {opacity: 1; transform: translateY(0px);}
}

.search::-webkit-input-placeholder {
color: #222 !important;
}
 
input:-moz-placeholder { /* Firefox 18- */
color: #222 !important;  
}
 
input::-moz-placeholder {  /* Firefox 19+ */
color: #222 !important;  
}
 
input:-ms-input-placeholder {  
color: #222 !important;  
}
