<!DOCTYPE HTML>
<html>

  <head>
    <link rel="stylesheet preconnect prefetch" href="https://FlightCSS.foxglovedev.repl.co/host/flightcss/beta.css"/>
    <link rel="stylesheet preconnect prefetch" href="/css/theme.css"/>
  </head>

  <body>

    <nav class="nav">
      <a onclick="window.location= '/'"><img class="brand" rel="preconnect prefetch" src="" style="padding: 5px;"></img></a>

      <!-- add html pages on buttons -->

      <div class="nav-item">
         <a href="#">Home</a>
      </div>
      <div class="nav-item">
         <a href="download">Download</a>
      </div>

      <div style="position: absolute; right: 20px;" class="nav-item">

        <div class="nav-item" style="margin-right: 10px;">
          <a href="login">Log In</a>
        </div>
        <div class="nav-item" style="margin-left: 10px;">
          <a href="signup">Sign Up</a>
        </div>

      </div>
      
    </nav>

  </body>

</html>